div.intro {
  font-style: italic;
  color: red;
  margin-top: 35px;
  margin-bottom: 43px;
}
.body {
  line-height: 15px;
  color: #323199;
  margin-top: 7px;
  margin-bottom: 4px;
}
.about {
  font-size: 40pt;
  margin-top: 25px;
  margin-bottom: 43px;
}
